In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local").appName("trip_count_by_zone_sql").config("spark.driver.bindAddress","127.0.0.1").getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/imchanghun/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/16 21:47:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
directory = "/Users/imchanghun/data-engineering/data-engineering-project/Spark/data"
trip_file = "fhvhv_tripdata_2020-03.csv"
zone_file = "taxi+_zone_lookup.csv"

In [8]:
trip_data = spark.read.csv(f"file:///{directory}/{trip_file}", inferSchema = True, header=True)
zone_data = spark.read.csv(f"file:///{directory}/{zone_file}", inferSchema = True, header=True)

In [9]:
trip_data.show(5)

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   null|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   null|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   null|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 5 rows

In [10]:
zone_data.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [11]:
trip_data.createOrReplaceTempView("trip_data")
zone_data.createOrReplaceTempView("zone_data")

In [12]:
spark.sql("select * from trip_data limit 5").show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   null|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   null|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   null|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+

In [13]:
spark.sql("SELECT * FROM zone_data LIMIT 5").show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+

In [14]:
spark.sql("SELECT borough, count(*) as trips FROM \
(SELECT zone_data.Borough as borough \
from trip_data join zone_data on trip_data.PULocationID = zone_data.LocationID) \
GROUP BY borough").show()

+-------------+-------+
|      borough|  trips|
+-------------+-------+
|       Queens|2437383|
|          EWR|    362|
|      Unknown|    845|
|     Brooklyn|3735764|
|Staten Island| 178818|
|    Manhattan|4953140|
|        Bronx|2086592|
+-------------+-------+

In [15]:
spark.sql("SELECT borough, count(*) as trips FROM \
(SELECT zone_data.Borough as borough \
from trip_data join zone_data on trip_data.DOLocationID = zone_data.LocationID) \
GROUP BY borough").show()

+-------------+-------+
|      borough|  trips|
+-------------+-------+
|       Queens|2468408|
|          EWR|  65066|
|      Unknown| 387759|
|     Brooklyn|3696682|
|Staten Island| 177727|
|    Manhattan|4553776|
|        Bronx|2043486|
+-------------+-------+

In [17]:
spark.sql("SELECT zone_data.Zone, count(*) AS trips \
FROM trip_data JOIN zone_data ON trip_data.PULocationID = zone_data.LocationID \
WHERE trip_data.hvfhs_license_num = 'HV0003' \
GROUP BY zone_data.Zone ORDER BY trips DESC").show()

+--------------------+------+
|                Zone| trips|
+--------------------+------+
| Crown Heights North|163091|
|       East New York|134198|
|         JFK Airport|114179|
|        East Village|112017|
|      Bushwick South|110150|
|Central Harlem North|108070|
|   LaGuardia Airport|104119|
|Washington Height...| 97324|
|Flatbush/Ditmas Park| 95724|
|            Canarsie| 94484|
|TriBeCa/Civic Center| 94155|
|             Astoria| 92676|
|             Bedford| 90352|
|      Midtown Center| 90261|
|  Stuyvesant Heights| 88749|
|            Union Sq| 88372|
|Times Sq/Theatre ...| 86870|
|Prospect-Lefferts...| 84347|
|         Brownsville| 82764|
|Mott Haven/Port M...| 82396|
+--------------------+------+
only showing top 20 rows

In [18]:
spark.sql("SELECT zone_data.Zone, count(*) AS trips \
FROM trip_data JOIN zone_data ON trip_data.PULocationID = zone_data.LocationID \
WHERE trip_data.hvfhs_license_num = 'HV0003' \
GROUP BY zone_data.Zone ORDER BY trips DESC").explain(True)

== Parsed Logical Plan ==
'Sort ['trips DESC NULLS LAST], true
+- 'Aggregate ['zone_data.Zone], ['zone_data.Zone, 'count(1) AS trips#266]
   +- 'Filter ('trip_data.hvfhs_license_num = HV0003)
      +- 'Join Inner, ('trip_data.PULocationID = 'zone_data.LocationID)
         :- 'UnresolvedRelation [trip_data], [], false
         +- 'UnresolvedRelation [zone_data], [], false

== Analyzed Logical Plan ==
Zone: string, trips: bigint
Sort [trips#266L DESC NULLS LAST], true
+- Aggregate [Zone#78], [Zone#78, count(1) AS trips#266L]
   +- Filter (hvfhs_license_num#46 = HV0003)
      +- Join Inner, (PULocationID#50 = LocationID#76)
         :- SubqueryAlias trip_data
         :  +- View (`trip_data`, [hvfhs_license_num#46,dispatching_base_num#47,pickup_datetime#48,dropoff_datetime#49,PULocationID#50,DOLocationID#51,SR_Flag#52])
         :     +- Relation [hvfhs_license_num#46,dispatching_base_num#47,pickup_datetime#48,dropoff_datetime#49,PULocationID#50,DOLocationID#51,SR_Flag#52] csv
         +- SubqueryAlias zone_data
            +- View (`zone_data`, [LocationID#76,Borough#77,Zone#78,service_zone#79])
               +- Relation [LocationID#76,Borough#77,Zone#78,service_zone#79] csv

== Optimized Logical Plan ==
Sort [trips#266L DESC NULLS LAST], true
+- Aggregate [Zone#78], [Zone#78, count(1) AS trips#266L]
   +- Project [Zone#78]
      +- Join Inner, (PULocationID#50 = LocationID#76)
         :- Project [PULocationID#50]
         :  +- Filter ((isnotnull(hvfhs_license_num#46) AND (hvfhs_license_num#46 = HV0003)) AND isnotnull(PULocationID#50))
         :     +- Relation [hvfhs_license_num#46,dispatching_base_num#47,pickup_datetime#48,dropoff_datetime#49,PULocationID#50,DOLocationID#51,SR_Flag#52] csv
         +- Project [LocationID#76, Zone#78]
            +- Filter isnotnull(LocationID#76)
               +- Relation [LocationID#76,Borough#77,Zone#78,service_zone#79] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [trips#266L DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(trips#266L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#664]
      +- HashAggregate(keys=[Zone#78], functions=[count(1)], output=[Zone#78, trips#266L])
         +- Exchange hashpartitioning(Zone#78, 200), ENSURE_REQUIREMENTS, [id=#661]
            +- HashAggregate(keys=[Zone#78], functions=[partial_count(1)], output=[Zone#78, count#271L])
               +- Project [Zone#78]
                  +- BroadcastHashJoin [PULocationID#50], [LocationID#76], Inner, BuildRight, false
                     :- Project [PULocationID#50]
                     :  +- Filter ((isnotnull(hvfhs_license_num#46) AND (hvfhs_license_num#46 = HV0003)) AND isnotnull(PULocationID#50))
                     :     +- FileScan csv [hvfhs_license_num#46,PULocationID#50] Batched: false, DataFilters: [isnotnull(hvfhs_license_num#46), (hvfhs_license_num#46 = HV0003), isnotnull(PULocationID#50)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/Users/imchanghun/data-engineering/data-engineering-project/Spark..., PartitionFilters: [], PushedFilters: [IsNotNull(hvfhs_license_num), EqualTo(hvfhs_license_num,HV0003), IsNotNull(PULocationID)], ReadSchema: struct<hvfhs_license_num:string,PULocationID:int>
                     +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#656]
                        +- Filter isnotnull(LocationID#76)
                           +- FileScan csv [LocationID#76,Zone#78] Batched: false, DataFilters: [isnotnull(LocationID#76)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/Users/imchanghun/data-engineering/data-engineering-project/Spark..., PartitionFilters: [], PushedFilters: [IsNotNull(LocationID)], ReadSchema: struct<LocationID:int,Zone:string>